*{
    margin: 0;
    padding: 0;
}

.main-div{
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.traffic-light{
    font-size: 50px;
    color: lightslategray;
}

.traffic-light-main-div{
    width: 180px;
    height: 380px;
    background-color: rgb(235, 185, 201);
    margin: 50px auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.stop-div, 
.ready-div,
.go-div{
    width: 100px;
    height: 100px;
    /* background-color: rgb(33,     31, 31); */
    border-radius: 50%;
}


.button-main-div {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
}

.button-main-div .stop-button,
.button-main-div .ready-button,
.button-main-div .go-button {
    padding: 15px;
    width: 200px;
    background-color: lightblue;
    border-radius: 20px;
    cursor: pointer;
}